body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.profile {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.github {
    width: 385px;
    height: 256px;
    padding-top: 50px;
    margin-left: 325px;
}

.resume {
    width: 256px;
    height: 256px;
    padding-top: 50px;
    margin-left: 75px;
}